.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.userRow{
  background-color: red !important;
}

.userRow:hover {
  background-color: rgb(99, 207, 240) !important;
}
.userCard{
  margin: 2rem 22rem;
  text-align: center;
}
.userCard button{
  width: 15%;
  float: left;
  border: 0;
  background-color: inherit;
}


#userImage {
  width: 160px;
  height: 160px;
  margin: 1rem auto;
  border-radius: 50px;
}
.profileCells{
  font-weight: bold !important;
}
.randomUser{
  padding: 3rem ;
}
.paginate{
  margin-bottom: 1rem;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .userCard{
    margin: 2rem 0rem;
    
  }
}